.sbg-appshell-v1-contents {
  display: block
}

.sbg-appshell-v1-contents--invisible {
  display: none
}

.sbg-appshell-v1-footer--invisible {
  display: none
}

.sbg-appshell-v1-footer {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  min-width: 990px;
  margin-top: 20px
}

body.fontsize-large .sbg-appshell-v1-footer {
  font-size: 16px;
  line-height: 1.25
}

body.fontsize-small .sbg-appshell-v1-footer {
  font-size: 11px;
  line-height: 1.63636
}

.sbg-appshell-v1-footer-top {
  background-color: transparent;
  padding: 0 0 15px 0
}

.sbg-appshell-v1-footer-top_inner {
  width: 950px;
  min-height: 20px;
  margin: 0 auto
}

.sbg-appshell-v1-footer-top_inner::after {
  content: '';
  display: block;
  clear: both
}

.sbg-appshell-v1-footer-breadcrumbs {
  float: left;
  width: 782px
}

[lang='en'] .sbg-appshell-v1-footer-breadcrumbs {
  width: 720px
}

.sbg-appshell-v1-footer-breadcrumbs_list {
  width: 800px;
  margin: 0;
  padding: 5px 0 0 2px;
  font-size: 85.71429%;
  list-style-type: none;
  letter-spacing: 0
}

[lang='en'] .sbg-appshell-v1-footer-breadcrumbs_list {
  width: 700px
}

.sbg-appshell-v1-footer-breadcrumbs_list::after {
  content: '';
  display: block;
  clear: both
}

.sbg-appshell-v1-footer-breadcrumbs_item {
  float: left;
  margin: -2px 6px 0 0;
  padding: 0;
  letter-spacing: normal
}

.sbg-appshell-v1-footer-breadcrumbs_item::before {
  content: '>';
  padding: 0 5px 0 0 !important
}

.sbg-appshell-v1-footer-breadcrumbs_item:first-child::before {
  content: '';
  display: none
}

.sbg-appshell-v1-footer-breadcrumbs_item-home .sbg-appshell-v1-footer-breadcrumbs_item-current::before, .sbg-appshell-v1-footer-breadcrumbs_item-home .sbg-appshell-v1-footer-breadcrumbs_item-link::before {
  content: '';
  display: inline-block;
  margin: 0 5px 3px 0;
  vertical-align: middle;
  background-image: url("/site/set/common/appshell-v1/p/img/icon-home.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 13px;
  height: 14px;
  text-indent: -9999px;
  overflow: hidden
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sbg-appshell-v1-footer-breadcrumbs_item-home .sbg-appshell-v1-footer-breadcrumbs_item-current::before, .sbg-appshell-v1-footer-breadcrumbs_item-home .sbg-appshell-v1-footer-breadcrumbs_item-link::before {
    background-image: url("/site/set/common/appshell-v1/p/img/icon-home-2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 13px;
    height: 14px;
    background-size: 13px 14px;
    text-indent: -9999px;
    overflow: hidden
  }
}

.sbg-appshell-v1-footer-breadcrumbs_item-link:link {
  color: #006699;
  text-decoration: none
}

.sbg-appshell-v1-footer-breadcrumbs_item-link:visited {
  color: purple;
  text-decoration: none
}

.sbg-appshell-v1-footer-breadcrumbs_item-link:hover, .sbg-appshell-v1-footer-breadcrumbs_item-link:active, .sbg-appshell-v1-footer-breadcrumbs_item-link:focus {
  color: #006699;
  text-decoration: underline
}

.sbg-appshell-v1-footer-breadcrumbs_item-current {
  color: #000;
  font-weight: normal
}

.sbg-appshell-v1-footer-utility {
  position: relative;
  float: right;
  width: 76px
}

[lang='en'] .sbg-appshell-v1-footer-utility {
  width: 140px
}

.sbg-appshell-v1-footer-fontsize {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  overflow: hidden;
  -webkit-transition: height .3s ease-out;
  transition: height .3s ease-out;
  border-radius: 4px
}

.sbg-appshell-v1-footer-fontsize dl dt:first-child {
  margin-top: 0
}

.sbg-appshell-v1-footer-fontsize_status {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  width: 76px;
  padding: 0 5px 0 4px;
  border: 1px solid #d8dadc;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  margin: 0
}

[lang='en'] .sbg-appshell-v1-footer-fontsize_status {
  width: 140px
}

.sbg-appshell-v1-footer-fontsize_status::after {
  content: '';
  display: block;
  clear: both
}

.sbg-appshell-v1-footer-fontsize_term {
  float: left;
  margin: 0 2px 0 0;
  padding: 0;
  background-image: url("/site/set/common/appshell-v1/p/img/icon-fontsize.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 33px;
  height: 18px;
  text-indent: -9999px;
  overflow: hidden
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sbg-appshell-v1-footer-fontsize_term {
    background-image: url("/site/set/common/appshell-v1/p/img/icon-fontsize-2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 33px;
    height: 18px;
    background-size: 33px 18px;
    text-indent: -9999px;
    overflow: hidden
  }
}

[lang='en'] .sbg-appshell-v1-footer-fontsize_term {
  background-image: url("/en/site/set/common/appshell-v1/p/img/icon-fontsize.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 60px;
  height: 18px;
  text-indent: -9999px;
  overflow: hidden
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  [lang='en'] .sbg-appshell-v1-footer-fontsize_term {
    background-image: url("/en/site/set/common/appshell-v1/p/img/icon-fontsize-2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 66px;
    height: 16px;
    background-size: 66px 16px;
    text-indent: -9999px;
    overflow: hidden
  }
}

.sbg-appshell-v1-footer-fontsize_description {
  position: relative;
  margin: 0;
  padding: 0
}

.sbg-appshell-v1-footer-fontsize_description::before {
  content: '';
  position: absolute;
  top: 7px;
  right: 1px;
  display: block;
  width: 7px;
  height: 1px;
  background-color: #5f6e7e
}

.sbg-appshell-v1-footer-fontsize_description::after {
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  display: block;
  width: 1px;
  height: 7px;
  background-color: #5f6e7e;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out
}

.sbg-appshell-v1-footer-fontsize_selected {
  display: block;
  margin: 1px 0 0 0;
  background-color: #f4f5f6
}

.sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-large {
  background-image: url("/site/set/common/appshell-v1/p/img/icon-fontsize-large.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-large {
    background-image: url("/site/set/common/appshell-v1/p/img/icon-fontsize-large-2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    text-indent: -9999px;
    overflow: hidden
  }
}

[lang='en'] .sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-large {
  background-image: url("/en/site/set/common/appshell-v1/p/img/icon-fontsize-large.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 50px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  [lang='en'] .sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-large {
    background-image: url("/en/site/set/common/appshell-v1/p/img/icon-fontsize-large-2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 50px;
    height: 16px;
    background-size: 50px 16px;
    text-indent: -9999px;
    overflow: hidden
  }
}

.sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-medium {
  background-image: url("/site/set/common/appshell-v1/p/img/icon-fontsize-medium.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-medium {
    background-image: url("/site/set/common/appshell-v1/p/img/icon-fontsize-medium-2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    text-indent: -9999px;
    overflow: hidden
  }
}

[lang='en'] .sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-medium {
  background-image: url("/en/site/set/common/appshell-v1/p/img/icon-fontsize-medium.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 50px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  [lang='en'] .sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-medium {
    background-image: url("/en/site/set/common/appshell-v1/p/img/icon-fontsize-medium-2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 50px;
    height: 16px;
    background-size: 50px 16px;
    text-indent: -9999px;
    overflow: hidden
  }
}

.sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-small {
  background-image: url("/site/set/common/appshell-v1/p/img/icon-fontsize-small.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-small {
    background-image: url("/site/set/common/appshell-v1/p/img/icon-fontsize-small-2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    text-indent: -9999px;
    overflow: hidden
  }
}

[lang='en'] .sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-small {
  background-image: url("/en/site/set/common/appshell-v1/p/img/icon-fontsize-small.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 50px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  [lang='en'] .sbg-appshell-v1-footer-fontsize_selected.sbg-appshell-v1-footer-fontsize_selected-small {
    background-image: url("/en/site/set/common/appshell-v1/p/img/icon-fontsize-small-2x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 50px;
    height: 16px;
    background-size: 50px 16px;
    text-indent: -9999px;
    overflow: hidden
  }
}

.sbg-appshell-v1-footer-fontsize_list {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 76px;
  padding: 23px 0 0 0;
  border: 1px solid #d8dadc;
  border-radius: 4px;
  background-color: #f4f5f6;
  -webkit-transition: opacity .3s ease-out, height .3s ease-out;
  transition: opacity .3s ease-out, height .3s ease-out
}

[lang='en'] .sbg-appshell-v1-footer-fontsize_list {
  width: 140px
}

.sbg-appshell-v1-footer-fontsize_item {
  margin: 0;
  padding: 0
}

.sbg-appshell-v1-footer-fontsize_button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 2px 7px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #006699;
  text-decoration: none
}

.sbg-appshell-v1-footer-fontsize_button:hover, .sbg-appshell-v1-footer-fontsize_button:focus {
  text-decoration: underline
}

.sbg-appshell-v1-footer-fontsize--open {
  height: 108px
}

.sbg-appshell-v1-footer-fontsize--open .sbg-appshell-v1-footer-fontsize_status .sbg-appshell-v1-footer-fontsize_description::after {
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg)
}

.sbg-appshell-v1-footer-fontsize--open .sbg-appshell-v1-footer-fontsize_list {
  opacity: 1
}

.sbg-appshell-v1-footer-bottom {
  background-color: #e6e8eb
}

.sbg-appshell-v1-footer-bottom_inner {
  width: 950px;
  margin: 0 auto;
  padding: 30px 0 0 0
}

.sbg-appshell-v1-footer-bottom_inner::after {
  content: '';
  display: block;
  clear: both
}

.sbg-appshell-v1-footer-utility-link {
  clear: both;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0
}

.sbg-appshell-v1-footer-utility-link_item {
  font-size: 85.71429%;
  line-height: 1;
  padding: 0 20px;
  border-left: 1px solid #84919d;
  margin: 0
}

.sbg-appshell-v1-footer-utility-link_item:first-child {
  border-left: none
}

.sbg-appshell-v1-footer-utility-link_link:link, .sbg-appshell-v1-footer-utility-link_link:visited, .sbg-appshell-v1-footer-utility-link_link:active {
  color: #333333;
  text-decoration: none
}

.sbg-appshell-v1-footer-utility-link_link:hover, .sbg-appshell-v1-footer-utility-link_link:focus {
  text-decoration: underline
}

.sbg-appshell-v1-footer-copyright {
  text-align: center;
  margin: 0;
  padding: 30px 0;
  font-size: 85.71429%;
  line-height: 1
}

.sbg-appshell-v1-footer-copyright_small {
  font-size: 80%
}

.sbg-appshell-v1-header-fixed-area .sbg-appshell-v1-header-fixed-area_inner {
  width: 100%;
  z-index: 10000
}

.sbg-appshell-v1-header-fixed-area.sbg-appshell-v1-header-fixed-area--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10000;
  width: 100%
}

.sbg-appshell-v1-header-fixed-area.sbg-appshell-v1-header-fixed-area--sticky .sbg-appshell-v1-header-fixed-area_inner {
  width: auto;
  z-index: 0
}

.sbg-appshell-v1-header-fixed-area.sbg-appshell-v1-header-fixed-area--sticky.sbg-appshell-v1-header-fixed-area--fixed .sbg-appshell-v1-header-fixed-area_inner {
  position: static;
  top: auto
}

.sbg-appshell-v1-header-fixed-area.sbg-appshell-v1-header-fixed-area--fixed .sbg-appshell-v1-header-fixed-area_inner {
  position: fixed;
  top: 0
}

.sbg-appshell-v1-header {
  margin: 0;
  padding: 0;
  font-family: Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
  line-height: 1.42857;
  color: #333;
  min-width: 990px;
  font-family: Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
  background-color: #ffffff;
  border-bottom: 1px solid #d4d3d3;
  position: relative
}

[lang='en'] .sbg-appshell-v1-header {
  font-family: Helvetica, Arial, sans-serif
}

.sbg-appshell-v1-header_inner {
  width: 950px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.sbg-appshell-v1-header_logo {
  width: 157px;
  padding: 4px 0;
  margin-right: auto
}

.sbg-appshell-v1-header_logo-link {
  display: block;
  padding: 16px 0 9px;
  text-indent: -9999px;
  background-image: url("../../images/logo.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  text-indent: -9999px;
  overflow: hidden;
  background-position: 0 16px
}

.sbg-appshell-v1-header_globalnav {
  padding: 24px 0 0 0;
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box
}

.sbg-appshell-v1-header_globalnav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  list-style-type: none
}

.sbg-appshell-v1-header_globalnav-item {
  padding: 0;
  margin: 0 0 0 6px
}

.sbg-appshell-v1-header_globalnav-item:first-child {
  margin-left: 0
}

.sbg-appshell-v1-header_globalnav-link {
  display: block;
  padding: 4px 7px;
  text-decoration: none;
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out
}

.sbg-appshell-v1-header_globalnav-link:link, .sbg-appshell-v1-header_globalnav-link:visited, .sbg-appshell-v1-header_globalnav-link:active {
  color: #000000;
  text-decoration: none
}

.sbg-appshell-v1-header_globalnav-link:hover {
  color: #aaaaaa;
  text-decoration: none
}

.sbg-appshell-v1-header_globalnav-link:focus {
  color: #000000;
  text-decoration: none
}

.sbg-appshell-v1-header_globalnav-link.sbg-appshell-v1-header_globalnav-link--current {
  color: #000000;
  font-weight: bold
}

.sbg-appshell-v1-header_sitesearch {
  position: relative;
  width: 34px;
  height: 34px;
  margin: 18px 0 0 13px
}

.sbg-appshell-v1-header_sitesearch-form#bizsearchAspForm {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: auto;
  border: none;
  background-color: transparent;
  box-shadow: none
}

.sbg-appshell-v1-header_sitesearch-form#bizsearchAspForm #bizsearchAspQuery.sbg-appshell-v1-header_sitesearch-form-text {
  float: none;
  box-sizing: border-box;
  width: 0;
  height: 34px;
  border: none;
  padding: 3px 0;
  font-family: inherit;
  font-size: 14px;
  color: #000;
  background-color: #efefef !important;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  position: absolute;
  top: 0;
  right: 34px;
  text-indent: 10px;
  -webkit-transition: width 0.1s ease-out;
  transition: width 0.1s ease-out;
  display: inline-block;
  margin: 0
}

.sbg-appshell-v1-header_sitesearch-form-data {
  position: relative;
  width: auto;
  height: 34px;
  background-color: transparent;
  border-radius: 0
}

.sbg-appshell-v1-header_sitesearch-form-submit {
  box-sizing: border-box;
  border: none;
  font-size: 11px;
  background-color: #efefef;
  background-image: url("/site/set/common/appshell-v1/shared/img/icon-search.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  text-indent: -9999px;
  overflow: hidden;
  background-position: center center;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0
}

.sbg-appshell-v1-header .sbg-appshell-v1-header_sitesearch--open #bizsearchAspForm #bizsearchAspQuery {
  width: 186px
}

.sbg-appshell-v1-header_sitesearch--open .sbg-appshell-v1-header_sitesearch-form-submit {
  border-radius: 0 4px 4px 0
}

.sbg-appshell-v1-header #bizsearchAspForm #bizasarchAspSuggest {
  margin: -10px 0 0 0 !important;
  box-sizing: border-box;
  background-color: #efefef;
  background-color: rgba(239, 239, 239, 0.8);
  border-radius: 0 0 4px 4px;
  border: none;
  list-style-type: none;
  position: static;
  left: 0;
  top: 52px;
  min-width: 220px !important;
  padding: 17px 0 0 0 !important;
  display: none;
  width: 220px !important;
  box-shadow: none;
  font-size: 14px
}

.sbg-appshell-v1-header #bizsearchAspForm #bizasarchAspSuggest li {
  color: #000;
  font-size: 85.71429%;
  line-height: 1.5;
  border: none !important;
  background: transparent;
  margin: 0;
  padding: 0
}

.sbg-appshell-v1-header #bizsearchAspForm #bizasarchAspSuggest span {
  display: block;
  padding: 7px 10px;
  cursor: pointer;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  will-change: opacity
}

.sbg-appshell-v1-header #bizsearchAspForm #bizasarchAspSuggest span:hover {
  opacity: 0.6
}

.sbg-appshell-v1-header_english {
  width: 80px;
  padding-top: 23px;
  margin-left: 20px
}

.sbg-appshell-v1-header_english-btn {
  display: block;
  width: 80px;
  height: 24px;
  border: 1px solid #858585;
  border-radius: 12px;
  color: #000;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  box-sizing: border-box;
  padding: 5px 0 3px;
  text-align: center;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out
}

.sbg-appshell-v1-header_english-btn:link, .sbg-appshell-v1-header_english-btn:visited, .sbg-appshell-v1-header_english-btn:active, .sbg-appshell-v1-header_english-btn:focus, .sbg-appshell-v1-header_english-btn:hover {
  color: #000;
  text-decoration: none
}

.sbg-appshell-v1-header_english-btn:hover {
  opacity: 0.6
}

[lang='en'] .sbg-appshell-v1-header_english-btn {
  padding: 4px 0
}

@media all and (-ms-high-contrast: none) {
  .sbg-header-rf2017-ph1 .sbg-header-rf2017-ph1-globalnav {
    padding: 20px 0 0
  }
}

.sbg-appshell-v1-menu {
  z-index: 1000;
  display: none;
  background-color: #000
}

#sbg-appshell-v1-menu_list {
  background: #fff;
  font-size: 16px
}

#sbg-appshell-v1-menu_list a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc
}

#search {
  padding: 10px
}

#search input {
  width: 100%
}

#search button {
  width: 100%
}

.sbg-appshell-v1-menu.sbg-appshell-v1-menu--show {
  display: block;
  width: 100%
}
